/* All styles for your Card Components live here */
.card-content {
  width: 525px;
  margin-left: auto;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  cursor: pointer;
}

.card-content .banner {
  width: 100%;
  height: 300px;
  border-radius: 5px 5px 0 0;
}

.card-content .content {
  padding: 0 15px;
}

.card-content .react-web {
  color: grey;
}